<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Edit Seeds</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form action="/dashboard/<%=seeds._id %>?_method=PUT" method="POST">
            <div>
                <label for="title">Seed ID</label>
                <input type="number" id="seedID" name="seeds[seedID]" value=<%=seeds.seedID%> >
            </div>
            <div>
                <label for="title">name</label>
                <input type="text" id="name" name="seeds[name]"value=<%=seeds.name%>>
            </div>
            <div>
                <label for="title">Batch Number</label>
                <input type="number" id="batchNum" name="seeds[batchNum]" value=<%=seeds.batchNum%>>
            <div>
                <label for="title">Experation Date</label>
                <input type="date" id="experationDate" name="seeds[experationDate]"value=<%=seeds.experationDate%>>
            </div>
            <div>
                <label for="title">Weight in bulk</label>
                <input type="number" id="weight" name="seeds[weight]"value=<%=seeds.weight  %>>
            </div>
            <div>
                <label for="title">Time to Harvest</label>
                <input type="number" id="timeToHarvest" name="seeds[timeToHarvest]"value=<%=seeds.timeToHarvest%>>
            </div>
            <div>
                <label for="title">Image Link</label>
                <input type="text" id="image" name="seeds[image]"value=<%=seeds.image%>>
            </div>
    
            <button> Submit changes</button>
            </form>
        
        <script src="" async defer></script>
    </body>
</html>